* {
  box-sizing: border-box;
}
.marginlaterales {
  margin-left: 5px;
  margin-right: 5px;
}
h1 {
  text-transform: uppercase;
}

/* -------------------------header-------------------- */
header {
  background-color: rgb(254, 200, 154);
  position: sticky;
  top: 0;
  z-index: 20;
  margin-bottom: 20px;
}
/* ------------------footer-------------------------- */
footer {
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  background-color: rgb(254, 200, 154);
  margin-top: 40px;
  justify-items: center;
}

footer h3 {
  margin-bottom: 20px;
}

.footer__iconos {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer__iconos ul li {
  display: inline-block;
  margin: 0 5px;
  width: 50px;
  height: 50px;
  text-align: center;
}

.footer__iconos ul li a {
  display: block;
  padding: 0 10px;
  background-color: rgba(0, 0, 0, 0.342);
  color: white;
  line-height: 50px;
  font-size: 18px;
  box-shadow: 0 3px 5px 0px rgb(0, 0, 0, 0.2);
  transition: 0.2s;
}

.footer__iconos ul:hover a {
  filter: blur(2px);
}

.footer__iconos ul li a:hover {
  transform: translateY(-3px) scale(1.5);
  filter: none;
}
.face:hover {
  background-color: #3b5999;
}
.insta:hover {
  background-color: #e4405f;
}
.tiktok:hover {
  background-image: linear-gradient(#25f4ee, #fe2c55);
}
.whats:hover {
  background-color: #47c856;
}

/* -----------------------index---------------- */
.bannerDos {
  display: none;
}
/*.bannerUno {
  margin-top: 20px;
}*/

.botonCompra {
  background-color: rgb(254, 200, 154);
}
.imagenComentario {
  width: 80%;
  max-width: 150px;
}
/* --------------------contacto-------------- */
.imgContacto {
  width: 100%;
  max-width: 300px;
  z-index: -1;
}
.imgCatalogo {
  width: 100%;
  max-width: 250px;
}
.main__contacto {
  height: 70vh;
}
/* -----------------------catalogo-------------- */
.tamaño-carrusel {
  width: 100%;

  display: inline-block;
  padding-left: 30px;
}
.carruselCata {
  display: inline-block;
  width: 100%;
  max-width: 500px;
}
.imgCatalogo {
  width: 100%;
}
.cata__list {
  list-style: none;
  text-transform: uppercase;
  text-decoration: none;
  margin: 20px;
}

.cata__link {
  display: inline;
  margin: 5px;
}

.cata__link--deco {
  text-decoration: none;
  color: black;
  font-weight: bold;
}
/* ----------------------talles y medidas--------------------------- */
.tym__tabla {
  width: 90%;
  max-width: 400px;
}
.mainTym {
  margin: 0%;
  padding: 0%;
}

/* -------------------------preguntas frecuentes----------------------- */
.img__pf {
  width: 100%;
  max-width: 100px;
}
.containerPf {
  display: grid;
  grid-template-columns: 10% 85%;
}
/* -------------------------transicion------------------ */
:root {
  --clippy: polygon(0 0, 0 0, 0 100%, 0 100%);
}
.nombretransiocion {
  display: inline-block;
  align-items: flex-start;
  position: relative;
  padding: 1rem;
}
.nombretransiocion::before {
  content: "";
  display: block;
  background-color: rgb(254, 200, 154);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  clip-path: var(--clippy);
  transition: clip-path 1s;
}
.nombretransiocion:hover::before {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

/* ------------------------------------------------------------media--------------------------------------------------------------------- */
@media screen and (min-width: 768px) {
  .bannerDos {
    display: inline-block;
  }
  .bannerUno {
    display: none;
  }
}
