* {
  box-sizing: border-box;
}
.marginlaterales {
  margin-left: 5px;
  margin-right: 5px;
}

/* -------------------------header-------------------- */
header {
  background-color: rgb(254, 200, 154);
  position: sticky;
  top: 0;
  z-index: 20;
  margin-bottom: 20px;
}
/* ------------------footer-------------------------- */
footer {
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  background-color: rgb(254, 200, 154);
  margin-top: 40px;
}

footer h3 {
  margin-bottom: 20px;
}
.footer__img {
  width: 30px;
}
.footer__list {
  display: flex;
  justify-content: space-around;
  list-style: none;
}
/* -----------------------index---------------- */
.bannerDos {
  display: none;
}
/*.bannerUno {
  margin-top: 20px;
}*/

.botonCompra {
  background-color: rgb(254, 200, 154);
}
.imagenComentario {
  width: 80%;
  max-width: 150px;
}
/* --------------------contacto-------------- */
.imgContacto {
  width: 100%;
  max-width: 300px;
  z-index: -1;
}
.imgCatalogo {
  width: 100%;
  max-width: 250px;
}
/* -----------------------catalogo-------------- */
.tamaño-carrusel {
  width: 100%;

  display: inline-block;
  padding-left: 30px;
}
.carruselCata {
  display: inline-block;
  width: 100%;
  max-width: 500px;
}
.imgCatalogo {
  width: 100%;
}
.cata__list {
  list-style: none;
  text-transform: uppercase;
  text-decoration: none;
  margin: 20px;
}

.cata__link {
  display: inline;
  margin: 5px;
}

.cata__link--deco {
  text-decoration: none;
  color: black;
  font-weight: bold;
}
/* ----------------------talles y medidas--------------------------- */
.tym__tabla {
  width: 90%;
  max-width: 400px;
}
.mainTym {
  margin: 0%;
  padding: 0%;
}

/* -------------------------preguntas frecuentes----------------------- */
.img__pf {
  width: 100%;
  max-width: 100px;
}
.containerPf {
  display: grid;
  grid-template-columns: 10% 85%;
}
/* ------------------------------------------------------------media--------------------------------------------------------------------- */
@media screen and (min-width: 768px) {
  .bannerDos {
    display: inline-block;
  }
  .bannerUno {
    display: none;
  }
}
